.back-footer{
	background: hsl(192, 100%, 9%);
}

.iconFooter{
	width: 4%;
	height: 50%;
	margin-right: 10px;
	position: relative;
	top: 4px;
}

.leftChildren{
	margin-left: 50px;
}

/*.rightChildren{
	z-index: 1;
	position: relative;
	right: 90px;
}*/

.footerForm{
	position: relative;
	right: 188px;
}