@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

.appSection{
	margin-top: 1px;
	margin-bottom: 1px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-family: 'Poppins';
}

body {
  font-family: 'Open Sans';
}

